<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>IP库 | IPCool</title>
    <link rel="stylesheet" type="text/css" href="../../dist/program_detail_page.css">
</head>

<body>
    <div class="popup_mask" id="popup_mask"></div>
    <div class="popup_box sign" id="popup_register">
        <button class="close"></button>
        <span class="logo"></span>
        <form>
            <span class="err_msg">手机号码格式错误</span>
            <div class="sign_container">
                <label class="icon_phone_number"></label>
                <input type="text" placeholder="手机号码" />
            </div>
            <div class="sign_container">
                <label class="icon_password"></label>
                <input type="password" placeholder="密码" />
            </div>
            <div class="sign_container verify">
                <label class="icon_verify"></label>
                <input type="text" placeholder="验证码" />
                <button class="btn_send_verify_code">发送验证码</button>
            </div>
            <button class="solid">登录</button>
            <input class="hollow" type="submit" value="创建帐号" />
        </form>
        <div class="infos">
            <a href="#" target="_blank">用户协议</a>
            <a href="#" target="_blank">隐私政策</a>
            <a href="#" target="_blank">帮助文档</a>
        </div>
    </div>
    <div class="popup_box sign" id="popup_login">
        <button class="close"></button>
        <span class="logo"></span>
        <form>
            <div class="sign_container">
                <label class="icon_phone_number"></label>
                <input type="text" placeholder="手机号码" />
            </div>
            <div class="sign_container">
                <label class="icon_password"></label>
                <input type="password" placeholder="密码" />
            </div>
            <div class="remember_pwd_container clearfix">
                <input name="remember_pwd" type="checkbox" value="remember_pwd" checked="checked" />
                <label>记住密码</label>
                <a href="#">忘记密码</a>
            </div>
            <input class="solid" type="submit" value="登录" />
            <button class="hollow">创建帐号</button>
        </form>
        <div class="infos">
            <a href="#" target="_blank">用户协议</a>
            <a href="#" target="_blank">隐私政策</a>
            <a href="#" target="_blank">帮助文档</a>
        </div>
    </div>
    <header class="ipcool_hearder clearfix">
        <div class="inner">
            <a href="/" class="logo"></a>
            <!--注册 登录按钮-->
            <nav>
                <button class="register" id="register">注册</button>
                <button class="login" id="login">登录</button>
            </nav>
            <!--登录后用户id-->
            <!-- <div class="user">
                <h2 class="user_name">土豆</h2>
                <div class="user_menu">
                    <div class="arrow">
                        <span></span><em></em>
                    </div>  
                    <ul>        
                        <li><a href="#">我关注的</a></li>
                        <li><a href="#">历史记录</a></li>
                        <li><a href="#">个人信息</a></li>
                        <li><a href="#">账号设置</a></li>
                        <li><a href="#">修改密码</a></li>
                        <li><a href="#">退出登录</a></li>
                    </ul>
                </div>
            </div>   -->
        </div>
    </header>
    <div class="container">
        <!--搜索框-->
        <div class="searchbar">
            <div class="form_search">
                <from>
                    <input type="text" class="search" placeholder="试试搜索美人鱼">
                    <input class="submit" type="submit" value="">
                </from>
            </div>
        </div>
        <!--program_info-->
        <section class="program_info clearfix">
            <!-- TOP100 形状 -->
            <div class="level_flag">
                TOP100
            </div>
            <img src="../../assets/images/pic.png">
            <div class="content">
                <h1 class="name">奇葩说（2016）<span class="type">小说</span></h1>
                <h6 class="genre">类型：脱口秀</h6>
                <p class="info">
                    导演：周星驰 / 主演：林允 章鱼怪 螃蟹精 小顺子 土豆
                </p>
                <div class="tags">
                    <span><a href="#">搞笑</a></span>
                    <span><a href="#">星爷</a></span>
                    <span><a href="#">2016</a></span>
                    <span><a href="#">环保</a></span>
                </div>
            </div>
            <div class="update_time">
                <h6>数据更新时间</h6>
                <span>2016-04-23</span>
            </div>
        </section>
        <!--program_nav -->
        <section class="program_nav" id="program_nav">
            <div class="inner clearfix">
                <ul>
                    <li class="active"><a href="">综合评价</a></li>
                    <li><a href="">开发意向</a></li>
                    <li><a href="">用户点评</a></li>
                    <li><a href="">简介</a></li>
                </ul>
                <div class="follow_download">
                    <span class="follow">关注</span>
                    <span class="download">下载完整报告</span>
                </div>
            </div>
        </section>
        <!-- 开发潜力概况 -->
        <section class="potential_trend">
            <h1 class="title">开发潜力概况</h1>
            <!-- 指数们 -->
            <div class="values_container">
                <!--当前潜力指数 -->
                <div class="values_content">
                    <h2 class="program_title">当前潜力指数</h2>
                    <div class="tooltip">
                        ?
                        <div class="tooltip_info">
                            这是一段提示信息
                        </div>
                    </div>
                    <h5 class="number">7,623 <span class="arrow">↑</span></h5>
                </div>
                <!-- 历史最高 -->
                <div class="values_content">
                    <h2 class="program_title">历史最高 <span class="date">2015/03/24</span></h2>
                    <h5 class="number">10,345</h5>
                </div>
                <!--同类排名 -->
                <div class="values_content">
                    <h2 class="program_title">潜力排名 <span class="date">2015/03/24</span></h2>
                    <h5 class="number">33</h5>
                </div>
                <div class="values_content">
                    <!-- <h2 class="program_title">潜力模型</h2> -->
                    <div id="chart_potential_model_small"></div>
                </div>
            </div>
        </section>
        <!-- 潜力趋势图表 -->
        <section>
            <h1 class="title">潜力趋势 <span class="date_region">2015/03/24至2016/03/23</span></h1>
            <!-- 热度趋势图表 -->
            <div id="chart_potential_trend"></div>
        </section>
        <!-- 同类IP对比 -->
        <section>
            <h1 class="title">同类IP对比</h1>
            <div id="chart_similar_contrast"></div>
        </section>
        <!-- 期待开发项目 -->
        <section>
            <!-- 最受期待的开发项目 -->
            <div class="vote_container">
                <h1 class="title">最受期待的开发项目</h1>
                <h6>投票查看结果</h6>
                <div class="vote_content">
                    <div class="vote movie">
                        <span></span>
                        <h5>电影</h5>
                        <div class="vote_btns">
                            <button class="expext">期待</button>
                            <button class="wantDevelop">想开发</button>
                        </div>
                    </div>
                    <div class="vote tvshow">
                        <span></span>
                        <h5>电视剧</h5>
                        <div class="vote_btns">
                            <button class="expext">期待</button>
                            <button class="wantDevelop">想开发</button>
                        </div>
                    </div>
                    <div class="vote mobilegame">
                        <span></span>
                        <h5>手游</h5>
                        <div class="vote_btns">
                            <button class="expext">期待</button>
                            <button class="wantDevelop">想开发</button>
                        </div>
                    </div>
                    <div class="vote game">
                        <span></span>
                        <h5>游戏</h5>
                        <div class="vote_btns">
                            <button class="expext">期待</button>
                            <button class="wantDevelop">想开发</button>
                        </div>
                    </div>
                    <div class="vote peripheral">
                        <span></span>
                        <h5>周边</h5>
                        <div class="vote_btns">
                            <button class="expext">期待</button>
                            <button class="wantDevelop">想开发</button>
                        </div>
                    </div>
                    <div class="vote others">
                        <span></span>
                        <h5>其他</h5>
                        <div class="vote_btns">
                            <button class="expext">期待</button>
                            <button class="wantDevelop">想开发</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <footer>
        <nav>
            <ul>
                <li><a href="">网站首页</a></li>
                <li><a href="">排行榜</a></li>
                <li><a href="">关于我们</a></li>
                <li><a href="">意见反馈</a></li>
                <li><a href="">用户协议</a></li>
                <li><a href="">隐私政策</a></li>
                <li><a href="">官方微信</a></li>
            </ul>
            <div class="copyright">
                <a href="/" class="logo"></a>
                <p>杭州追米文化创意有限公司 Copyright 2006-2016 IP100.club Inc. All rights reserved.</p>
            </div>
        </nav>
    </footer>
    <script src="../../src/jquery-2.2.3.min.js"></script>
    <script src="../../src/echarts.min.js"></script>
    <script src="../../src/alert.js"></script>
    <script>
    var hdr = $('#program_nav').offset().top;

    $(window).on('scroll', function() {
        if ($(this).scrollTop() > hdr) {
            $('#program_nav').addClass('program_nav_scroll');
        } else {
            $('#program_nav').removeClass('program_nav_scroll');
        }
    })
    </script>
    <script type="text/javascript">
    var chartPotentialTrend = echarts.init(document.getElementById('chart_potential_trend'));
    var chartPotentialModel = echarts.init(document.getElementById('chart_potential_model_small'));
    var chartSimilarContrast = echarts.init(document.getElementById('chart_similar_contrast'));

    optionPotentialTrend = {
        title: {
            text: '潜力趋势',
            textStyle: {
                color: '#4a4a4a',
                fontFamily: 'pingfang SC',
                fontSize: 16
            }
        },
        tooltip: {
            trigger: 'item',
            position: 'top',
            formatter: '{c}',
            backgroundColor: '#00A69D',
            padding: [0, 12],
        },
        legend: {
            data: [{
                name: '斗破苍穹',
                icon: 'rect',
                textStyle: {
                    color: '#4a4a4a',
                    fontSize: 14
                }
            }]
        },
        grid: {
            left: '0%',
            right: '0%',
            bottom: '0%',
            containLabel: true
        },
        xAxis: [{
            type: 'category',
            axisLine: {
                lineStyle: {
                    color: '#EFEFEF',
                }
            },
            axisLabel: {
                show: false,
            },
            splitLine: {
                interval: 1, //间隔x坐标轴线
                lineStyle: {
                    color: '#EFEFEF',
                }
            },
            axisTick: {
                show: false,
            },
            boundaryGap: false,
            data: ['周一', '周二', '周三', '周四', '周五', '周六', '周日']
        }],
        yAxis: [{
            type: 'value',
            axisLine: {
                lineStyle: {
                    color: '#EFEFEF',
                }
            },
            splitLine: {
                lineStyle: {
                    color: '#EFEFEF',
                }
            },
            axisTick: {
                show: false,
            },
        }],
        series: [{
            name: '斗破苍穹',
            type: 'line',
            symbolSize: 10,
            lineStyle: {
                normal: {
                    color: '#00A69D',
                    width: 2,
                },
            },
            areaStyle: {
                normal: {
                    color: '#00A69D',
                    opacity: 0.2
                }
            },
            markLine: {
                data: [{
                    type: 'average',
                    name: '平均值'
                }]
            },
            data: [120, 132, 101, 134, 90, 230, 210, 0, 2, 230]
        }],
        color: ['#00A69D']
    }
    optionPotentialModel = {

        radar: {
            nameGap: 3,
            center: ['50%', '60%'],
            indicator: [{
                name: '质量',
                max: 300
            }, {
                name: '传播',
                max: 300
            }, {
                name: '口碑',
                max: 300
            }, ],
            shape: 'pin',
            splitNumber: 0,
            axisLine: {
                lineStyle: {
                    color: 'rgba(0, 0, 0, 0.5)'
                }
            }
        },
        series: [{
            name: '潜力模型',
            type: 'radar',
            lineStyle: {
                normal: {
                    width: 0.5,
                    opacity: 0.5
                }
            },
            data: [{
                value: [150, 280, 160],
                name: '潜力模型'
            }],
            symbol: 'none',
            itemStyle: {
                normal: {
                    color: '#19A59C'
                }
            },
            areaStyle: {
                normal: {
                    opacity: 0.6
                }
            }
        }],
        color: ['#00A69D']
    }
    optionAgeDistribution = {
        title: {
            text: '潜力指数在小说中的占比',
            left: 'center',
            textStyle: {
                color: '#4a4a4a',
                fontFamily: 'pingfang SC',
                fontSize: 16
            }
        },
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'shadow'
            }
        },
        legend: {
            top: 50,
            data: ['全部小说分布', '同类型小说分布']
        },
        grid: {
            top: 70,
            show: false,
        },
        yAxis: {
            type: 'value',
            axisLabel: {
                show: false,
            },
            splitLine: {
                show: false,
            },
            axisTick: {
                show: false,
            },
            axisLine: {
                show: false,
            },
        },
        xAxis: {
            axisLine: {
                show: true,
                lineStyle: {
                    color: '#d8d8d8',
                    width: 1,
                }
            },
            splitLine: {
                show: false,
            },
            axisTick: {
                show: false,
            },
            axisLabel:{
                show:true,
                interval: 0,
            },
            type: 'category',
            data: ['1W以下', '1W-2W', '2W-3W', '3W-4W', '4W-5W', '5W-6W','6W-7W','7W-8W','8W-9W','9W-10W','10W以上']
        },
        series: [{
            name: '全部小说分布',
            type: 'bar',
            data: [51, 266, 143, 95, 130, 28,51, 266, 143, 95, 130]
        }, {
            name: '同类型小说分布',
            type: 'bar',
            barGap: '-50%',
            z: 3,
            data: [40, 100, 130, 112, 40, 52,40, 100, 130, 112, 40]
        }],
        color: ['#EEEEEE', '#84D2CD']
    }

    chartPotentialTrend.setOption(optionPotentialTrend);
    chartPotentialModel.setOption(optionPotentialModel);
    chartSimilarContrast.setOption(optionAgeDistribution);
    </script>
</body>

</html>
