<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>IP库 | IPCool</title>
    <link rel="stylesheet" type="text/css" href="../dist/index.css">
</head>

<body>
    <div class="index_head">
        <div class="head_bg">
            <video autoplay muted loop id="bg-video">
                <source src="../assets/video/33.mp4">
            </video>
            <div class="color_mask"></div>
        </div>
        <div class="head_front">
            <div class="inner">
                <header class="clearfix">
                    <a href="/" class="logo"></a>
                    <nav>
                        <button class="register" id="register">注册</button>
                        <button class="login" id="login">登录</button>
                    </nav>
                </header>
                <h1 class="main_title">让IP有序 让文创有依</h1>
                <h6 class="sub_text">已分析文学 IP 10000+</h6>
                <from class="search_bar_container">
                    <input type="radio" name="type" value="all" checked="checked" />
                    <input type="radio" name="type" value="literature" />
                    <input type="radio" name="type" value="film" />
                    <input type="radio" name="type" value="character" />
                    <input type="radio" name="type" value="mechanism" />
                    <div class="serarch_bar_container">
                        <input type="text" name="content" placeholder="输入关键词查询" />
                        <input type="submit" value="搜索" />
                    </div>
                </from>
            </div>
        </div>
    </div>
    <div class="index_section p1">
        <div class="inner">
            <h2 class="title">一站式IP全收录 商业价值全面分析平台</h2>
            <h3 class="sub_title">影视、文创、角色、机构多维度评估预测价值，包罗最全IP数据</h3>
            <img class="pic" src="../assets/images/index/frontp1.png">
        </div>
    </div>
    <div class="ip_section literature">
        <div class="inner">
            <div class="title_container">
                <div class="type_pic">
                    <span></span>
                </div>
                <h2 class="title"> 文学IP <span>网络文学 出版文学 热门小说</span></h2>
            </div>
            <div class="content clearfix">
                <img src="../assets/images/index/dpcq.png">
                <div class="ip_info">
                    <div class="rank_container">
                        <h5 class="rank_now">IP当前排名</h5>
                        <!-- 
							rise 上升趋势
							drop 下降趋势
							impartial 持平趋势
						 -->
                        <div class="rank_num rise">1</div>
                        <h5 class="rank_history">历史最高第23名</h5>
                    </div>
                    <h1 class="ip_name">《斗破苍穹》</h1>
                    <p class="ip_describe">起点网总点击超1.3亿，被认为是天蚕土豆的巅峰之作，奠定了其在网络原创界难以动摇的顶级作家地位。
                    </p>
                    <a href="#" class="watch_more">查看详情</a>
                    <div class="values_container">
                        <div class="value potential_trend">
                            <h5 class="value_title">潜力指数</h5>
                            <h6 class="value_num">6561</h6>
                        </div>
                        <div class="value heat">
                            <h5 class="value_title">热度指数</h5>
                            <h6 class="value_num">8634</h6>
                        </div>
                        <div class="value spread">
                            <h5 class="value_title">传播指数</h5>
                            <h6 class="value_num">6561</h6>
                        </div>
                        <div class="value praise">
                            <h5 class="value_title">口碑指数</h5>
                            <h6 class="value_num">6561</h6>
                        </div>
                        <div class="value comprehensive">
                            <h5 class="value_title">综合指数</h5>
                            <h6 class="value_num">6561</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ip_section film">
        <div class="inner">
            <div class="title_container">
                <div class="type_pic">
                    <span></span>
                </div>
                <h2 class="title"> 影视IP <span>电影剧集 综艺节目 网络节目</span></h2>
            </div>
            <div class="content clearfix">
                <img src="../assets/images/index/dpcq.png">
                <div class="ip_info">
                    <div class="rank_container">
                        <h5 class="rank_now">IP当前排名</h5>
                        <!-- 
							rise 上升趋势
							drop 下降趋势
							impartial 持平趋势
						 -->
                        <div class="rank_num rise">1</div>
                        <h5 class="rank_history">历史最高第23名</h5>
                    </div>
                    <h1 class="ip_name">《奇葩说》</h1>
                    <p class="ip_describe">
                        是一档由爱奇艺打造的说话达人秀。节目由马东主持，并邀请了蔡康永、金星、高晓松担任导师
                    </p>
                    <a href="#" class="watch_more">查看详情</a>
                    <div class="values_container">
                        <div class="value potential_trend">
                            <h5 class="value_title">潜力指数</h5>
                            <h6 class="value_num">6561</h6>
                        </div>
                        <div class="value heat">
                            <h5 class="value_title">热度指数</h5>
                            <h6 class="value_num">8634</h6>
                        </div>
                        <div class="value spread">
                            <h5 class="value_title">传播指数</h5>
                            <h6 class="value_num">6561</h6>
                        </div>
                        <div class="value praise">
                            <h5 class="value_title">口碑指数</h5>
                            <h6 class="value_num">6561</h6>
                        </div>
                        <div class="value comprehensive">
                            <h5 class="value_title">综合指数</h5>
                            <h6 class="value_num">6561</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ip_section character">
        <div class="inner">
            <div class="title_container">
                <div class="type_pic">
                    <span></span>
                </div>
                <h2 class="title"> 人物IP <span>明星 角色 网红 职能人物</span></h2>
            </div>
            <div class="content clearfix">
                <img src="../assets/images/index/dpcq.png">
                <div class="ip_info">
                    <div class="rank_container">
                        <h5 class="rank_now">IP当前排名</h5>
                        <!-- 
							rise 上升趋势
							drop 下降趋势
							impartial 持平趋势
						 -->
                        <div class="rank_num rise">1</div>
                        <h5 class="rank_history">历史最高第23名</h5>
                    </div>
                    <h1 class="ip_name">胡歌</h1>
                    <p class="ip_describe">
                        1982年9月20日出生于上海市徐汇区，中国内地演员、歌手、制片人。
                    </p>
                    <a href="#" class="watch_more">查看详情</a>
                    <div class="values_container">
                        <div class="value potential_trend">
                            <h5 class="value_title">潜力指数</h5>
                            <h6 class="value_num">6561</h6>
                        </div>
                        <div class="value heat">
                            <h5 class="value_title">热度指数</h5>
                            <h6 class="value_num">8634</h6>
                        </div>
                        <div class="value spread">
                            <h5 class="value_title">传播指数</h5>
                            <h6 class="value_num">6561</h6>
                        </div>
                        <div class="value praise">
                            <h5 class="value_title">口碑指数</h5>
                            <h6 class="value_num">6561</h6>
                        </div>
                        <div class="value comprehensive">
                            <h5 class="value_title">综合指数</h5>
                            <h6 class="value_num">6561</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ip_section mechanism">
        <div class="inner">
            <div class="title_container">
                <div class="type_pic">
                    <span></span>
                </div>
                <h2 class="title"> 机构IP <span>开发 投资 执行</span></h2>
            </div>
            <div class="content clearfix">
                <img src="../assets/images/index/dpcq.png">
                <div class="ip_info">
                    <div class="rank_container">
                        <h5 class="rank_now">IP当前排名</h5>
                        <!-- 
							rise 上升趋势
							drop 下降趋势
							impartial 持平趋势
						 -->
                        <div class="rank_num rise">1</div>
                        <h5 class="rank_history">历史最高第23名</h5>
                    </div>
                    <h1 class="ip_name">阿里巴巴</h1>
                    <p class="ip_describe">
                        是全球企业间（B2B）电子商务的著名品牌，为数千万网商提供海量商机信息和便捷安全的在线交易市场
                    </p>
                    <a href="#" class="watch_more">查看详情</a>
                    <div class="values_container">
                        <div class="value potential_trend">
                            <h5 class="value_title">潜力指数</h5>
                            <h6 class="value_num">6561</h6>
                        </div>
                        <div class="value heat">
                            <h5 class="value_title">热度指数</h5>
                            <h6 class="value_num">8634</h6>
                        </div>
                        <div class="value spread">
                            <h5 class="value_title">传播指数</h5>
                            <h6 class="value_num">6561</h6>
                        </div>
                        <div class="value praise">
                            <h5 class="value_title">口碑指数</h5>
                            <h6 class="value_num">6561</h6>
                        </div>
                        <div class="value comprehensive">
                            <h5 class="value_title">综合指数</h5>
                            <h6 class="value_num">6561</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="index_section p2">
        <div class="inner">
            <h2 class="title">权威的数据来源</h2>
            <h3 class="sub_title">布控各大公信网站，全网社交舆论监控，真实信息准确同步，最新动态一手掌握</h3>
            <img class="pic" src="../assets/images/index/frontp2.png">
            <div class="p2_titles">
                <h3>全网流量统计</h3>
                <h3>多端监控布局</h3>
                <h3>人群地域多维度采集</h3>
            </div>
        </div>
    </div>
    <div class="index_section p3">
        <div class="inner">
            <h2 class="title">大数据服务</h2>
            <h3 class="sub_title">大数据挖掘体系下的精度分析</h3>
            <div class="p3_container">
                <div class="content">
                    <span class="icon1"></span>
                    <h3>IP信息查询</h3>
                    <h6>⊙10000+海量IP数据库</h6>
                    <h6>⊙每日采集过亿数据条目</h6>
                </div>
                <div class="content">
                    <span class="icon2"></span>
                    <h3>完整IP分析报告</h3>
                    <h6>⊙多维度的数据评估体系</h6>
                    <h6>⊙详细的数据解析过程介绍</h6>
                </div>
                <div class="content">
                    <span class="icon3"></span>
                    <h3>专业IP开发咨询</h3>
                    <h6>⊙布局关键数据的监控</h6>
                    <h6>⊙全网事件传播与跟踪</h6>
                </div>
                <div class="content">
                    <span class="icon4"></span>
                    <h3>挖掘IP潜力价值</h3>
                    <h6>⊙发现高价值的寒门IP</h6>
                    <h6>⊙实现开发收益最大化</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="index_section p4">
        <div class="inner">
            <h2 class="title">更多产品与服务</h2>
            <h3 class="sub_title">布控各大公信网站，全网社交舆论监控，真实信息准确同步，最新动态一手掌握</h3>
            <div class="p4_container">
                <div class="content">
                    <span class="icon1"></span>
                    <h3>排片助手</h3>
                    <h6>帮助影院定制排片计划</h6>
                    <h6>让票房收益最大化</h6>
                    <button>即将上线</button>
                </div>
                <div class="content">
                    <span class="icon2"></span>
                    <h3>电影时光机</h3>
                    <h6>对比往期同期票房</h6>
                    <h6>对比分析预测票房</h6>
                    <button>即将上线</button>
                </div>
                <div class="content">
                    <span class="icon3"></span>
                    <h3>票房模拟</h3>
                    <h6>创建您的虚拟影片，通过分析预测</h6>
                    <h6>来帮助您配置合理的资源</h6>
                    <button>即将上线</button>
                </div>
            </div>
        </div>
    </div>
    <div class="index_section p5">
        <div class="inner">
            <h2>您的私人IP顾问</h2>
            <a href="#">立即体验</a>
        </div>
    </div>
    <!-- 底 -->
    <div class="footer_container">
    	<footer>
		<nav>
			<ul>
				<li><a href="">网站首页</a></li>
				<li><a href="">排行榜</a></li>
				<li><a href="">关于我们</a></li>
				<li><a href="">意见反馈</a></li>
				<li><a href="">用户协议</a></li>
				<li><a href="">隐私政策</a></li>
				<li><a href="">官方微信</a></li>
			</ul>
			<div class="copyright">
				<a href="/" class="logo"></a>
				<p>杭州追米文化创意有限公司  Copyright 2006-2016 IP100.club Inc. All rights reserved.</p>
			</div>
		</nav>
	</footer>
    </div>
  	
</body>

</html>
