<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>IP库 | IPCool</title>
	<link rel="stylesheet" type="text/css" href="../../dist/sidebar.css">
</head>
<body>
	<header class="ipcool_hearder clearfix">
		<div class="inner">
			<a href="/" class="logo"></a>
			<!--搜索框 用户中心显示-->
				<div class="form_search">
			        <input type="text" class="search" placeholder="试试搜索美人鱼">
			        <input class="submit" type="submit" value="">
			    </div>
			<!--注册 登录按钮-->
			<!-- <nav>
				<button class="register">注册</button>
				<button class="login">登录</button>
			</nav> -->
			<!--登录后用户id-->
			<div class="user">
				<h2 class="user_name">土豆</h2>
				<div class="user_menu">
					<div class="arrow">
     					<span></span><em></em>
    				</div>	
					<ul>		
						<li><a href="#">我关注的</a></li>
						<li><a href="#">历史记录</a></li>
						<li><a href="#">个人信息</a></li>
						<li><a href="#">账号设置</a></li>
						<li><a href="#">修改密码</a></li>
						<li><a href="#">退出登录</a></li>
					</ul>
				</div>
			</div>	
		</div>
	</header>
	
	<div class="container clearfix">
		<!-- 用户中心 左侧导航 -->
		<ul class="sidebar_nav">
			<li class="user_info">
				<div class="user_avatar_container">
					<span class="avatar_mask"></span>
					<img src="../../assets/images/avatar.png">
				</div>
				<h2 class="user_name">土豆pp</h2>
				<h6 class="user_signature">我是90后牛逼闪闪的新锐导演</h6>
			</li>
			<li><a href="">我关注的</a></li>
			<li><a href="">帐号信息</a></li>
			<li class="active"><a href="">个人信息</a></li>
			<li><a href="">修改密码</a></li>
			<li><a href="">历史纪录</a></li>
		</ul>
		
		<!-- 用户中心 右侧部分 -->
			
		<div class="sidebar_content">
			<h1 class="title">个人信息</h1>
			<div class="user_personal_information_container">
				<form>
					<h2 class="sub_title">基本信息</h2>	
					<div class="col_2_container">
						<div class="col">
							<h3 class="personal_information_label">昵称</h3>
							<input type="text" value="土豆PP" />
						</div>
						<div class="col">
							<h3 class="personal_information_label">最高学历</h3>
							<input type="text" value="编剧" />
						</div>
						<div class="col">
							<h3 class="personal_information_label">最高学历</h3>
							<input type="radio" name="sex_male" value="男" checked="checked" />
							<label>男</label>
							<input type="radio" name="sex_female" value="女" checked="checked" />
							<label>女</label>
						</div>
						<div class="col">
							<h3 class="personal_information_label">专业</h3>
							<input type="text" value="合宜酒店事件是假的" />
						</div>						
					</div>
					<h3 class="personal_information_label">一句话介绍自己</h3>
					<input style="width: 590px;" type="text" value="可能是最喜欢装逼的人" />

					<h2 class="sub_title" style="margin-top: 60px;">职业信息</h2>
					<div class="col_2_container">
						<div class="col">
							<h3 class="personal_information_label">职业</h3>
							<input type="text" value="土豆PP" />
						</div>
						<div class="col">
							<h3 class="personal_information_label">公司</h3>
							<input type="text" value="编剧" />
						</div>
					</div>

					<input type="submit" style="margin-top: 93px;" value="保存" />
				</form>
			</div>	
		</div>

	</div>		


	<footer>
		<nav>
			<ul>
				<li><a href="">网站首页</a></li>
				<li><a href="">排行榜</a></li>
				<li><a href="">关于我们</a></li>
				<li><a href="">意见反馈</a></li>
				<li><a href="">用户协议</a></li>
				<li><a href="">隐私政策</a></li>
				<li><a href="">官方微信</a></li>
			</ul>
			<div class="copyright">
				<a href="/" class="logo"></a>
				<p>杭州追米文化创意有限公司  Copyright 2006-2016 IP100.club Inc. All rights reserved.</p>
			</div>
		</nav>
	</footer>	
</body>
</html>