<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>IP库 | IPCool</title>
    <link rel="stylesheet" type="text/css" href="../../dist/sidebar.css">
</head>

<body>
    <header class="ipcool_hearder clearfix">
        <div class="inner">
            <a href="/" class="logo"></a>
            <!--搜索框 用户中心显示-->
            <div class="form_search">
                <input type="text" class="search" placeholder="试试搜索美人鱼">
                <input class="submit" type="submit" value="">
            </div>
            <!--注册 登录按钮-->
            <!-- <nav>
				<button class="register">注册</button>
				<button class="login">登录</button>
			</nav> -->
            <!--登录后用户id-->
            <div class="user">
                <h2 class="user_name">土豆</h2>
                <div class="user_menu">
                    <div class="arrow">
                        <span></span><em></em>
                    </div>
                    <ul>
                        <li><a href="#">我关注的</a></li>
                        <li><a href="#">历史记录</a></li>
                        <li><a href="#">个人信息</a></li>
                        <li><a href="#">账号设置</a></li>
                        <li><a href="#">修改密码</a></li>
                        <li><a href="#">退出登录</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div class="container clearfix">
        <!-- 用户中心 左侧导航 -->
        <ul class="sidebar_nav">
            <li class="user_info">
                <div class="user_avatar_container">
                    <span class="avatar_mask"></span>
                    <img src="../../assets/images/avatar.png">
                </div>
                <h2 class="user_name">土豆pp</h2>
                <h6 class="user_signature">我是90后牛逼闪闪的新锐导演</h6>
            </li>
            <li class="active"><a href="">我关注的</a></li>
            <li><a href="">帐号信息</a></li>
            <li><a href="">个人信息</a></li>
            <li><a href="">修改密码</a></li>
            <li><a href="">历史纪录</a></li>
        </ul>
        <!-- 用户中心 右侧部分 -->
        <div class="sidebar_content">
            <h1 class="title">我关注的</h1>
            <!-- <ul class="ip_pic_list">
					<li>
						<button class="cancle"></button>
						<img src="../../assets/images/pic.png">
						<h2 class="ip_pic_title">斗破苍穹</h2>
					</li>
					<li>
						<button class="cancle"></button>
						<img src="../../assets/images/pic.png">
						<h2 class="ip_pic_title">斗破苍穹</h2>
					</li>
					<li>
						<button class="cancle"></button>
						<img src="../../assets/images/pic.png">
						<h2 class="ip_pic_title">斗破苍穹</h2>
					</li>
					<li>
						<button class="cancle"></button>
						<img src="../../assets/images/pic.png">
						<h2 class="ip_pic_title">斗破苍穹</h2>
					</li>
					<li>
						<button class="cancle"></button>
						<img src="../../assets/images/pic.png">
						<h2 class="ip_pic_title">斗破苍穹</h2>
					</li>
					<li>
						<button class="cancle"></button>
						<img src="../../assets/images/pic.png">
						<h2 class="ip_pic_title">斗破苍穹</h2>
					</li>
					<li>
						<button class="cancle"></button>
						<img src="../../assets/images/pic.png">
						<h2 class="ip_pic_title">斗破苍穹</h2>
					</li>
					<li>
						<button class="cancle"></button>
						<img src="../../assets/images/pic.png">
						<h2 class="ip_pic_title">斗破苍穹</h2>
					</li>
					<li>
						<button class="cancle"></button>
						<img src="../../assets/images/pic.png">
						<h2 class="ip_pic_title">斗破苍穹</h2>
					</li>
					<li>
						<button class="cancle"></button>
						<img src="../../assets/images/pic.png">
						<h2 class="ip_pic_title">斗破苍穹</h2>
					</li>
				</ul> -->
            <div class="ip_nofollow">
                <span class="ip_nofollow_pic"></span>
                <h6>暂时没有关注的内容</h6>
            </div>
            <h1 class="title">最新热门IP</h1>
            <ul class="ip_pic_list">
                <li>
                    <button class="cancle"></button>
                    <img src="../../assets/images/pic.png">
                    <h2 class="ip_pic_title">斗破苍穹</h2>
                </li>
                <li>
                    <button class="cancle"></button>
                    <img src="../../assets/images/pic.png">
                    <h2 class="ip_pic_title">斗破苍穹</h2>
                </li>
                <li>
                    <button class="cancle"></button>
                    <img src="../../assets/images/pic.png">
                    <h2 class="ip_pic_title">斗破苍穹</h2>
                </li>
                <li>
                    <button class="cancle"></button>
                    <img src="../../assets/images/pic.png">
                    <h2 class="ip_pic_title">斗破苍穹</h2>
                </li>
                <li>
                    <button class="cancle"></button>
                    <img src="../../assets/images/pic.png">
                    <h2 class="ip_pic_title">斗破苍穹</h2>
                </li>
                <li>
                    <button class="cancle"></button>
                    <img src="../../assets/images/pic.png">
                    <h2 class="ip_pic_title">斗破苍穹</h2>
                </li>
                <li>
                    <button class="cancle"></button>
                    <img src="../../assets/images/pic.png">
                    <h2 class="ip_pic_title">斗破苍穹</h2>
                </li>
                <li>
                    <button class="cancle"></button>
                    <img src="../../assets/images/pic.png">
                    <h2 class="ip_pic_title">斗破苍穹</h2>
                </li>
                <li>
                    <button class="cancle"></button>
                    <img src="../../assets/images/pic.png">
                    <h2 class="ip_pic_title">斗破苍穹</h2>
                </li>
                <li>
                    <button class="cancle"></button>
                    <img src="../../assets/images/pic.png">
                    <h2 class="ip_pic_title">斗破苍穹</h2>
                </li>
            </ul>
        </div>
    </div>
    <footer>
        <nav>
            <ul>
                <li><a href="">网站首页</a></li>
                <li><a href="">排行榜</a></li>
                <li><a href="">关于我们</a></li>
                <li><a href="">意见反馈</a></li>
                <li><a href="">用户协议</a></li>
                <li><a href="">隐私政策</a></li>
                <li><a href="">官方微信</a></li>
            </ul>
            <div class="copyright">
                <a href="/" class="logo"></a>
                <p>杭州追米文化创意有限公司 Copyright 2006-2016 IP100.club Inc. All rights reserved.</p>
            </div>
        </nav>
    </footer>
</body>

</html>
