@import "./common/reset.scss";
@import "./common/common.scss";
@import "./components/footer.scss";
.index_head {
    width: 100%;
    height: 707px;
    background: url("../assets/images/index/videohive.png") no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    .head_bg {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        video {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            z-index: 1;
        }
        .color_mask {
            background: rgba(77, 189, 144, .8);
            opacity: 0.8;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: 2;
        }
    }
    .head_front {
        position: relative;
        z-index: 100;
    }
    .main_title {
        font-size: 58px;
        text-align: center;
        text-shadow: 1px 1px 2px #1e835a;
        font-weight: 600;
        line-height: 44px;
        margin-top: 205px;
        color: #fff;
    }
    .sub_text {
        color: #fff;
        margin-top: 20px;
        font-size: 22px;
        text-align: center;
        text-shadow: 1px 1px 2px #1e835a;
    }
    .search_bar_container {
        display: block;
        width: 690px;
        margin: 0 auto;
        margin-top: 40px;
        input[type=radio] {
            position: relative;
            font-size: 14px;
            color: rgba(255, 255, 255, 0.7);
            margin-right: 33px;
        }
        input[type=radio]:checked {
            font-size: 14px;
            color: rgba(255, 255, 255, 1);
            &:after {
                content: '';
                position: absolute;
                bottom: -14px;
                left: 50%;
                margin-left: -10px;
                width: 0;
                height: 0;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-bottom: 10px solid #fff;
            }
        }
        input[value="all"] {
            &::before {
                content: '全部';
            }
        }
        input[value="literature"] {
            &::before {
                content: '文学';
            }
        }
        input[value="film"] {
            &::before {
                content: '影视';
            }
        }
        input[value="character"] {
            &::before {
                content: '人物';
            }
        }
        input[value="mechanism"] {
            &::before {
                content: '机构';
            }
        }
        .serarch_bar_container {
            padding-right: 100px;
            position: relative;
            margin-top: 10px;
            input[type=text] {
                width: 100%;
                height: 45px;
                background-color: #fff;
                box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .3);
                border: 1px solid transparent;
                border-radius: 2px 0 0 2px;
                padding: 8px 12px;
                font-size: 14px;
                color: #333333;
            }
            input[type=submit] {
                display: block;
                position: absolute;
                right: 0;
                top: 0;
                background: #313131;
                border-radius: 0 2px 2px 0;
                box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .3);
                font-size: 16px;
                color: rgb(213, 216, 219);
                width: 100px;
                height: 45px;
                transition: color 300ms ease, background 300ms ease;
                &:hover {
                    background: #00a79d;
                    color: #fff;
                }
            }
        }
    }
}

header {
    position: relative;
    z-index: 1;
    background: transparent;
    padding: 20px 0;
    .logo {
        display: block;
        float: left;
        background: url("../assets/images/index/logo_index.png") no-repeat;
        background-size: 268px;
        width: 268px;
        height: 48px;
    }
    nav {
        display: block;
        float: right;
        padding-right: 20px;
        button {
            margin-top: 10px;
            display: inline-block;
            vertical-align: middle;
            cursor: pointer;
            margin-left: 10px;
            border-radius: 3px;
            transition: color 300ms ease, background 300ms ease, border-color 300ms ease;
            text-align: center;
            width: 78px;
            height: 36px;
            font-size: 16px;
        }
        .register {
            color: #fff;
            background: #000100;
            border: 2px solid #000100;
            &:hover {
                background: #00a79d;
                border: 2px solid #00a79d;
            }
        }
        .login {
            color: #000;
            background: transparent;
            border: 2px solid #000100;
            &:hover {
                background: #00a79d;
                border: 2px solid #00a79d;
                color: #fff;
            }
        }
    }
    .user {
        float: right;
        padding-right: 60px;
        cursor: pointer;
        position: relative;
        &:hover {
            .user_menu {
                display: block;
                opacity: 1;
            }
        }
        .user_name {
            font-weight: 800;
            line-height: 47px;
            &::before {
                content: 'Hi,'
            }
        }
        .user_menu {
            z-index: 9999;
            opacity: 0;
            display: none;
            transition: all 300ms ease;
            position: absolute;
            left: -20px;
            top: 50px;
            border: 1px solid #E4E4E4;
            border-radius: 3px;
            background: #FFFFFF;
            box-shadow: 0px 2px 2px 0px rgba(209, 209, 209, 0.50);
            .arrow {
                position: absolute;
                width: 20px;
                height: 20px;
                top: -20px;
                left: 50%;
                margin-left: -10px;
                * {
                    display: block;
                    border-width: 10px;
                    position: absolute;
                    border-style: solid dashed dashed dashed;
                    font-size: 0;
                    line-height: 0;
                }
                em {
                    border-color: transparent transparent #E4E4E4;
                }
                span {
                    border-color: transparent transparent #fff;
                    top: 2px;
                    z-index: 2;
                }
            }
            li {
                a {
                    margin: 0 23px;
                    color: #999999;
                    font-size: 12px;
                    line-height: 26px;
                }
                &:last-child {
                    border-top: 1px solid #E4E4E4;
                }
            }
        }
    }
}

.inner {
    width: 940px;
    margin: 0 auto;
}

.index_section {
    width: 100%;
    h2.title {
        text-align: center;
        font-size: 40px;
        font-weight: 600;
        margin-bottom: 12px;
    }
    h3.sub_title {
        text-align: center;
        font-size: 16px;
        color: #727070;
    }
    img.pic {
        display: block;
        padding: 75px 0 20px 0;
        width: 100%;
    }
}

.p1 {
    padding-top: 70px;
    background: url("../assets/images/index/bgp1.jpg") no-repeat;
    background-size: cover;
}

.p2 {
    background: #fff;
    padding-top: 82px;
    padding-bottom: 70px;
    .p2_titles {
        font-size: 0;
        margin-top: 40px;
        position: relative;
        h3 {
            position: absolute;
            font-size: 20px;
            display: block;
            color: #868686;
            font-weight: 800;
        }
        h3:nth-child(1) {
            left: 62px;
        }
        h3:nth-child(2) {
            left: 423px;
        }
        h3:nth-child(3) {
            left: 752px;
        }
    }
}

.p3 {
    padding-top: 70px;
    padding-bottom: 70px;
    background: #D8E3EB;
    .p3_container {
        margin-top: 74px;
        font-size: 0;
        .content {
            display: inline-block;
            width: 25%;
            span {
                display: block;
            }
            .icon1 {
                background: url("../assets/images/index/P8-1.png");
                background-size: 26px;
                width: 26px;
                height: 23px;
            }
            .icon2 {
                background: url("../assets/images/index/P8-2.png");
                background-size: 24px;
                width: 24px;
                height: 26px;
            }
            .icon3 {
                background: url("../assets/images/index/P8-3.png");
                background-size: 25px;
                width: 25px;
                height: 26px;
            }
            .icon4 {
                background: url("../assets/images/index/P8-4.png");
                background-size: 26px;
                width: 24px;
                height: 26px;
            }
            h3 {
                font-size: 25px;
                font-weight: 800;
                margin: 20px 0;
            }
            h6 {
                font-size: 16px;
            }
        }
    }
}

.p4 {
    padding-top: 70px;
    padding-bottom: 70px;
    background: #fff;
    .p4_container {
        font-size: 0;
        margin-top: 30px;
        .content {
            padding-top: 26px;
            padding-bottom: 26px;
            display: inline-block;
            width: 33.3%;
            text-align: center;
            font-size: 16px;
            border: 1px dashed #D8D8D8;
            span {
                display: inline-block;
            }
            .icon1 {
                background: url("../assets/images/index/P9-1.png") no-repeat;
                background-size: 48px;
                width: 48px;
                height: 61px;
            }
            .icon2 {
                background: url("../assets/images/index/P9-2.png") no-repeat;
                background-size: 62px;
                width: 62px;
                height: 61px;
            }
            .icon3 {
                background: url("../assets/images/index/P9-3.png") no-repeat;
                background-size: 59px;
                width: 59px;
                height: 61px;
            }
            h3 {
                font-size: 22px;
                margin-top: 22px;
                margin-bottom: 18px;
                font-weight: 800;
            }
            button {
                width: 120px;
                height: 37px;
                border-radius: 3px;
                color: #fff;
                background: #000;
                font-size: 16px;
                text-align: center;
                margin-top: 18px;
            }
        }
    }
}

.p5 {
    padding: 70px 0;
    background: url("../assets/images/index/bgp5.png") no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    h2 {
        font-size: 40px;
        font-weight: 800;
        margin-bottom: 15px;
        color: #fff;
    }
    a {
        display: inline-block;
        width: 190px;
        height: 40px;
        background: #3FB684;
        font-size: 16px;
        border-radius: 4px;
        line-height: 40px;
        color: #fff;
    }
}

.ip_section {
    width: 100%;
    .inner {
        padding: 88px 60px 78px 60px;
        background: rgba(255, 255, 255, 0.3)
    }
    .title_container {
        position: relative;
        padding-left: 100px;
        font-size: 40px;
        color: #4D4C51;
        border-bottom: 1px solid #4D4C51;
        padding-bottom: 11px;
        .type_pic {
            position: absolute;
            background: url("../assets/images/index/type_pic.png") no-repeat;
            width: 83px;
            height: 83px;
            left: -17px;
            top: -12px;
            span {
                position: absolute;
            }
        }
        .title {
            font-weight: 900;
            span {
                font-weight: 100;
            }
        }
    }
    .content {
        margin-top: 50px;
        font-size: 0;
        img {
            display: inline-block;
            font-size: 12px;
            vertical-align: top;
        }
        .ip_info {
            position: relative;
            display: inline-block;
            vertical-align: top;
            width: 604px;
            font-size: 14px;
            padding-left: 55px;
            .ip_name {
                // text-indent: -0.5em;
                letter-spacing: 2px;
                color: #676765;
                font-size: 27px;
                line-height: 55px;
            }
            .ip_describe {
                width: 340px;
                color: #676765;
            }
            .watch_more {
                margin-top: 25px;
                display: block;
                width: 140px;
                height: 30px;
                line-height: 30px;
                text-align: center;
                border: 1px solid #676765;
                color: #000;
            }
            .rank_container {
                position: absolute;
                right: 0;
                top: 10px;
                background: url("../assets/images/index/rankcontainer.png") no-repeat;
                width: 138px;
                height: 125px;
                padding: 12px 0 14px 31px;
                color: #60605F;
                font-size: 12px;
                .rank_now {
                    padding-left: 24px;
                    background: url("../assets/images/index/icon_rank.png") 0 -2px no-repeat;
                    background-size: 18px;
                }
                .rank_num {
                    color: #009173;
                    margin: 6px 0 6px -22px;
                    line-height: 54px;
                    text-align: center;
                    font-size: 54px;
                    height: 54px;
                    font-weight: 900;
                    position: relative;
                    &::after {
                        content: '';
                        font-size: 12px;
                        color: #000;
                    }
                }
                .rank_num.rise:after {
                    content: '▲';
                }
                .rank_num.drop:after {
                    content: '▼';
                }
                .rank_num.impartial:after {
                    content: '–';
                }
            }
            .values_container {
                margin-top: 88px;
                font-size: 0;
                margin-left: -20px;
                .value {
                    display: inline-block;
                    width: 20%;
                    font-size: 20px;
                    position: relative;
                    padding-left: 20px;
                    &::after {
                        content: '';
                        position: absolute;
                        top: 5px;
                        right: -10px;
                        height: 60px;
                        border-right: 1px solid #d8d8d8;
                    }
                    .value_title {
                        padding-left: 30px;
                        padding-top: 5px;
                        font-size: 14px;
                        font-weight: 800;
                    }
                    .value_num {
                        font-size: 33px;
                        font-weight: 100;
                    }
                }
                .value:last-child {
                    &::after {
                        content: '';
                        border: none;
                    }
                }
                .potential_trend .value_title {
                    background: url("../assets/images/index/potential_trend.png") no-repeat;
                    background-size: 21px;
                }
                .heat .value_title {
                    background: url("../assets/images/index/heat.png") no-repeat;
                    background-size: 15px;
                }
                .spread .value_title {
                    background: url("../assets/images/index/spread.png") no-repeat;
                    background-size: 16px;
                }
                .praise .value_title {
                    background: url("../assets/images/index/praise.png") 0 3px no-repeat;
                    background-size: 17px;
                }
                .comprehensive .value_title {
                    background: url("../assets/images/index/comprehensive.png") 0 3px no-repeat;
                    background-size: 23px;
                }
                .comprehensive .value_num {
                    font-weight: 800;
                }
            }
        }
    }
}

.literature {
    background: url("../assets/images/index/bgliterature.jpg") no-repeat;
    background-size: cover;
    .type_pic span {
        background: url("../assets/images/index/icon_literature.png") no-repeat;
        width: 44px;
        height: 39px;
        left: 27px;
        top: 25px;
    }
}

.film {
    background: url("../assets/images/index/bgfilm.jpg") no-repeat;
    background-size: cover;
    .type_pic span {
        background: url("../assets/images/index/icon_film.png") no-repeat;
        width: 42px;
        height: 31px;
        left: 29px;
        top: 29px;
    }
}

.character {
    background: url("../assets/images/index/bgcharacter.jpg") no-repeat;
    background-size: cover;
    .type_pic span {
        background: url("../assets/images/index/icon_character.png") no-repeat;
        width: 44px;
        height: 44px;
        left: 31px;
        top: 26px;
    }
}

.mechanism {
    background: url("../assets/images/index/bgmechanism.jpg") no-repeat;
    background-size: cover;
    .type_pic span {
        background: url("../assets/images/index/icon_mechanism.png") no-repeat;
        width: 37px;
        height: 47px;
        left: 31px;
        top: 26px;
    }
}

.footer_container{
     background: #262729;
     padding:45px 0;
}
footer {
    margin:0 auto;
    background: #262729;

}
