.comments_container {
    margin-top: 78px;
    li.comment {
        position: relative;
        padding-left: 80px;
        margin-top: 47px;
        img.comment_avatar {
            display: block;
            position: absolute;
            width: 60px;
            height: 60px;
            border-radius: 100%;
            left: 0;
            top: 0;
        }
        .comment_title {
            font-size: 14px;
            color: #5e5e5e;
            font-weight: 700;
        }
        .comment_author {
            font-size: 14px;
            color: #9b9b9b;
        }
        p.comment_content {
            margin-top: 12px;
            font-size: 12px;
            color: #5e5e5e;
            text-align: justify;
        }
        a.comment_more {
            display: block;
            float: right;
            font-size: 12px;
            color: #00a69d;
        }
        span.comment_like{
            background:url("../assets/images/like.png") left center no-repeat;
            background-size: 16px;
            padding-left: 20px;
            cursor:pointer;
            display:block;
            float: left;
            font-size:14px;
            color:#9b9b9b;
        }
        span.comment_like.liked{
            background:url("../assets/images/liked.png") left center no-repeat;
            background-size: 16px;
            color:#00a69d;
        }
    }
}

section.write_comment_container {
    h1.title {
        margin-bottom: 15px;
    }
    form.write_comment {
        margin: 0 -10px;
        position: relative;
        h6.welfare {
            position: absolute;
            right: 0;
            top: -30px;
            font-size: 14px;
            color: #9b9b9b;
        }
        textarea {
            display: block;
            width: 100%;
            height: 119px;
            border: 1px solid #979797;
        }
        input {
            margin-top: 14px;
            display: inline-block;
            height: 40px;
            text-align: center;
            font-size: 14px;
        }
        .verify_code {
            cursor: auto;
            border: 1px solid #979797;
            width: 100px;
            height: 40px;
        }
        .submit {
            cursor: pointer;
            border: none;
            float: right;
            background: #19a69d;
            color: #fff;
            width: 120px;
            height: 40px;
            font-size: 14px;
        }
    }
}
