header.ipcool_hearder {
    background: rgba(255, 255, 255, 0.95);
    padding: 20px 0;
    .inner {
        width: 940px;
        margin: 0 auto;
        .logo {
            display: block;
            float: left;
            background: url("../assets/images/logo.png") no-repeat;
            background-size: 268px;
            width: 268px;
            height: 47px;
        }
        nav {
            display: block;
            float: right;
            padding-right: 60px;
            button {
                margin-top: 10px;
                display: inline-block;
                vertical-align: middle;
                cursor: pointer;
                margin-left: 10px;
                border-radius: 2px;
                transition: color 300ms ease, background 300ms ease, border-color 300ms ease;
                text-align: center;
                width: 60px;
                height: 28px;
            }
            .register {
                font-size: 12px;
                color: #fff;
                background: #000100;
                border: 2px solid #000100;
                &:hover {
                    background: #00a79d;
                    border: 2px solid #00a79d;
                }
            }
            .login {
                font-size: 14px;
                color: #000;
                background: #fff;
                border: 2px solid #000100;
                &:hover {
                    background: #00a79d;
                    border: 2px solid #00a79d;
                    color: #fff;
                }
            }
        }
        .form_search {
            font-size: 0;
            display: block;
            float: left;
            margin-left: 52px;
            input {
                display: inline;
                vertical-align: top;
                background: #fff;
            }
            .search {
                padding: 0 0 0 10px;
                font-size: 16px;
                color: #D8D8D8;
                width: 340px;
                height: 47px;
                border: 1px solid #D8D8D8;
                border-radius: 5px 0 0 5px;
                border-right: none;
            }
            .submit {
                cursor: pointer;
                background: url("../assets/images/search_main_ico.png") no-repeat center center, #fff;
                background-size: 20px 20px;
                border: 1px solid #D8D8D8;
                border-radius: 0 5px 5px 0;
                border-left: none;
                padding: 0;
                width: 43px;
                height: 47px;
            }
        }
        .user {
            float: right;
            padding-right: 60px;
            cursor: pointer;
            position: relative;
            &:hover {
                .user_menu {
                    display: block;
                    opacity: 1;
                }
            }
            .user_name {
                font-weight: 800;
                line-height: 47px;
                &::before {
                    content: 'Hi,'
                }
            }
            .user_menu {
                z-index: 9999;
                opacity: 0;
                display: none;
                transition: all 300ms ease;
                position: absolute;
                left: -20px;
                top: 50px;
                border: 1px solid #E4E4E4;
                border-radius: 3px;
                background: #FFFFFF;
                box-shadow: 0px 2px 2px 0px rgba(209, 209, 209, 0.50);
                .arrow {
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    top: -20px;
                    left: 50%;
                    margin-left: -10px;
                    * {
                        display: block;
                        border-width: 10px;
                        position: absolute;
                        border-style: solid dashed dashed dashed;
                        font-size: 0;
                        line-height: 0;
                    }
                    em {
                        border-color: transparent transparent #E4E4E4;
                    }
                    span {
                        border-color: transparent transparent #fff;
                        top: 2px;
                        z-index: 2;
                    }
                }
                li {
                    a {
                        margin: 0 23px;
                        color: #999999;
                        font-size: 12px;
                        line-height: 26px;
                    }
                    &:last-child {
                        border-top: 1px solid #E4E4E4;
                    }
                }
            }
        }
    }
}
