<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>IP库 | IPCool</title>
    <link rel="stylesheet" type="text/css" href="../../dist/record.css">
</head>

<body>
    <header class="ipcool_hearder clearfix">
        <div class="inner">
            <a href="/" class="logo"></a>
            <div class="form_search">
                <form>
                    <input type="text" class="search" placeholder="试试搜索美人鱼">
                    <input class="submit" type="submit" value="">
                </form>
            </div>
            <!--注册 登录按钮-->
            <!-- <nav>
                <button class="register">注册</button>
                <button class="login">登录</button>
            </nav> -->
            <!--登录后用户id-->
            <div class="user">
                <h2 class="user_name">土豆</h2>
                <div class="user_menu">
                    <div class="arrow">
                        <span></span><em></em>
                    </div>
                    <ul>
                        <li><a href="#">我关注的</a></li>
                        <li><a href="#">历史记录</a></li>
                        <li><a href="#">个人信息</a></li>
                        <li><a href="#">账号设置</a></li>
                        <li><a href="#">修改密码</a></li>
                        <li><a href="#">退出登录</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <!--main-->
    <div class="container">
        <section class="record">
            <form>
                <div class="record_content">
                    <h2 class="title">申请收录</h2>
                    <h3 class="sub_title">告诉我们一些基本信息，IP库将优先处理您的申请</h3>
                    <div class="input_container">
                        <div class="input_content">
                            <label>IP名称</label>
                            <input class="ip_name" type="text" placeholder="输入您想收录的IP名称" ／>
                        </div>
                        <div class="input_content"> 
                            <label>选择IP类型</label>
                            <select name="ip_type">
                                <option value="网络小说">网络小说</option>
                                <option value="出版图书">出版图书</option>
                                <option value="漫画">漫画</option>
                                <option value="电影">电影</option>
                                <option value="电视剧">电视剧</option>
                                <option value="综艺节目">综艺节目</option>
                                <option value="网络节目">网络节目</option>
                                <option value="明星">明星</option>
                                <option value="虚拟角色">虚拟角色</option>
                                <option value="职能人员">职能人员</option>
                                <option value="开发机构">开发机构</option>
                                <option value="发行机构">发行机构</option>
                                <option value="投资机构">投资机构</option>
                            </select>
                        </div>
                    </div>
                    <div class="input_content">
                        <label>IP相关网址</label>
                        <input type="text" value="http://" />
                    </div>
                </div>
                <div class="record_content">
                    <h2 class="title">您的联系方式</h2>
                    <h3 class="sub_title">留下您的联系方式，IP库完成收录后将在第一时间通知您</h3>
                    <div class="input_container">
                        <div class="input_content">
                            <label>您的称呼</label>
                            <span class="err_msg">该IP已被收录</span>
                            <input type="text" placeholder="请填写您的名字" ／>
                        </div>
                        <div class="input_content">
                            <label>您的手机</label>
                            <span class="err_msg">请正确的填写手机号</span>
                            <input type="text" placeholder="请填写您的手机号" ／>
                        </div>
                    </div>
                    <div class="input_content">
                        <span class="err_msg">该IP已被收录</span>
                        <label>您的邮箱</label>
                        <input type="email" placeholder="请填写您的邮箱地址" />
                    </div>
                    <div class="verify_container clearfix">
                        <input class="verify_code " type="text" placeholder="输入验证码" />
                    </div>
                    

                    <input type="submit" value="提交" />
                </div>
            </form>
        </section>
    </div>
    <footer>
        <nav>
            <ul>
                <li><a href="">网站首页</a></li>
                <li><a href="">排行榜</a></li>
                <li><a href="">关于我们</a></li>
                <li><a href="">意见反馈</a></li>
                <li><a href="">用户协议</a></li>
                <li><a href="">隐私政策</a></li>
                <li><a href="">官方微信</a></li>
            </ul>
            <div class="copyright">
                <a href="/" class="logo"></a>
                <p>杭州追米文化创意有限公司 Copyright 2006-2016 IP100.club Inc. All rights reserved.</p>
            </div>
        </nav>
    </footer>
</body>

</html>
