<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>IP库 | IPCool</title>
    <link rel="stylesheet" type="text/css" href="../../dist/rank_list.css">
</head>

<body>
    <header class="ipcool_hearder clearfix">
        <div class="inner">
            <a href="/" class="logo"></a>
            <!--注册 登录按钮-->
            <!-- <nav>
                <button class="register">注册</button>
                <button class="login">登录</button>
            </nav> -->
            <!--登录后用户id-->
            <div class="user">
                <h2 class="user_name">土豆</h2>
                <div class="user_menu">
                    <div class="arrow">
                        <span></span><em></em>
                    </div>
                    <ul>
                        <li><a href="#">我关注的</a></li>
                        <li><a href="#">历史记录</a></li>
                        <li><a href="#">个人信息</a></li>
                        <li><a href="#">账号设置</a></li>
                        <li><a href="#">修改密码</a></li>
                        <li><a href="#">退出登录</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <!--main-->
    <div class="container">
        <!--搜索框-->
        <div class="searchbar">
            <div class="form_search">
                <input type="text" class="search" placeholder="试试搜索美人鱼">
                <input class="submit" type="submit" value="">
            </div>
        </div>
        <section class="rank_detail">
            <h2 class="title">热门排行</h2>
            <table>
                <tr>
                    <th class="rank_num">排名</th>
                    <th class="content">内容</th>
                    <th class="author">作者/主要人物</th>
                    <th class="author">指数</th>
                    <th class="trend">涨跌</th>
                </tr>
                <tr class="top_three">
                    <td class="rank_num">1</td>
                    <td class="content">太阳的后裔</td>
                    <td class="author">土豆</td>
                    <td class="author">2345676</td>
                    <td class="trend">↓</td>
                </tr>
                <tr class="top_three">
                    <td class="rank_num">2</td>
                    <td class="content">太阳的后裔</td>
                    <td class="author">土豆</td>
                    <td class="author">2345676</td>
                    <td class="trend">↑</td>
                </tr>
                <tr class="top_three">
                    <td class="rank_num">3</td>
                    <td class="content">太阳的后裔</td>
                    <td class="author">土豆</td>
                    <td class="author">2345676</td>
                    <td class="trend">—</td>
                </tr>
                <tr>
                    <td class="rank_num">3</td>
                    <td class="content">太阳的后裔</td>
                    <td class="author">土豆</td>
                    <td class="author">2345676</td>
                    <td class="trend">↑</td>
                </tr>
                 <tr>
                    <td class="rank_num">3</td>
                    <td class="content">太阳的后裔</td>
                    <td class="author">土豆</td>
                    <td class="author">2345676</td>
                    <td class="trend">↑</td>
                </tr>
                 <tr>
                    <td class="rank_num">3</td>
                    <td class="content">太阳的后裔</td>
                    <td class="author">土豆</td>
                    <td class="author">2345676</td>
                    <td class="trend">↑</td>
                </tr>
                 <tr>
                    <td class="rank_num">3</td>
                    <td class="content">太阳的后裔</td>
                    <td class="author">土豆</td>
                    <td class="author">2345676</td>
                    <td class="trend">↑</td>
                </tr>
                 <tr>
                    <td class="rank_num">3</td>
                    <td class="content">太阳的后裔</td>
                    <td class="author">土豆</td>
                    <td class="author">2345676</td>
                    <td class="trend">↑</td>
                </tr>
                 <tr>
                    <td class="rank_num">3</td>
                    <td class="content">太阳的后裔</td>
                    <td class="author">土豆</td>
                    <td class="author">2345676</td>
                    <td class="trend">↑</td>
                </tr>
                 <tr>
                    <td class="rank_num">3</td>
                    <td class="content">太阳的后裔</td>
                    <td class="author">土豆</td>
                    <td class="author">2345676</td>
                    <td class="trend">↑</td>
                </tr>

            </table>
        </section>
    </div>
    <footer>
        <nav>
            <ul>
                <li><a href="">网站首页</a></li>
                <li><a href="">排行榜</a></li>
                <li><a href="">关于我们</a></li>
                <li><a href="">意见反馈</a></li>
                <li><a href="">用户协议</a></li>
                <li><a href="">隐私政策</a></li>
                <li><a href="">官方微信</a></li>
            </ul>
            <div class="copyright">
                <a href="/" class="logo"></a>
                <p>杭州追米文化创意有限公司 Copyright 2006-2016 IP100.club Inc. All rights reserved.</p>
            </div>
        </nav>
    </footer>
</body>

</html>
